extend layout
block main
	.wrapper.about
		p(style="padding: 0 .5em") 404 :( 
		img(src="/img/sadalec.jpg" style="max-width: 100%; padding: .5em; box-sizing: border-box;")
		p(style="padding: 0 .5em 2em") i am very sorry but i can't find the thing you are looking for. if you are lost and want help, or if you want to just talk, why not give me a call on the telephone? my number is +44&nbsp;7432&nbsp;879911.<br><br>sincerely, your friend alec.
