extend layout
block main
	.wrapper
		p(style="padding: 0 .5em") Alec Molloy is a London-based computer artist, and creative tools builder. He worked at Kano Computing, where he built triple Webby award-winning products. Previously he created learning games that have shipped to hundreds of millions of Illustrator users while at Adobe.
