extend layout
block main
	.wrapper.about
		p(style="padding: 0 .5em") Alec Molloy is a computer artist and creative tools builder based in London. He has worked at <a href="http://kano.me">Kano Computing</a> and <a href="http://adobe.com">Adobe Systems</a>, where products of his have been shipped to hundreds of millions of users, and won prestigious awards including three Webbys.

