extend layout
block main
	article.blogpost.wrapper
		.blogpost-hero
			img#blogpost-hero-image(src="/blog/" + content.postContent.hero)
		.blogpost-header
			h2#blogpost-header-title #{content.postContent.title}
			#blogpost-header-deck #{content.postContent.deck}
			#blogpost-header-byline #{content.postContent.byline}
		#blogpost-content
			include /private/blog/i-havent-used-glass.html
