html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration-thickness: 0.0833333em;
  text-decoration-style: wavy;
  text-decoration-color: #888;
  text-underline-offset: 0.25em;
  text-decoration-skip-ink: all;
}

.info-block a {
  text-decoration: none;
}

#project-modal-content > p:first-of-type {
  margin-top: 0;
}

.make-art-item:hover .make-art-code-link {
  opacity: 1 !important;
}

@media (min-width: 1640px) {
  html,
  body {
    zoom: 1.1;
  }
}

@media (min-width: 2000px) {
  html,
  body {
    zoom: 1.2;
  }
}
