html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration-thickness: 0.0833333em;
  text-decoration-style: wavy;
  text-decoration-color: #888;
  text-underline-offset: 0.25em;
  text-decoration-skip-ink: all;
}

.info-block a {
  text-decoration: none;
}

#project-modal-content > p:first-of-type {
  margin-top: 0;
}

.make-art-item:hover .make-art-code-link {
  opacity: 1 !important;
}

@media (min-width: 1640px) {
  html,
  body {
    zoom: 1.1;
  }
}

@media (min-width: 2000px) {
  html,
  body {
    zoom: 1.2;
  }
}

@keyframes loading-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title-loading-animation {
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-name: loading-animation;
  animation-fill-mode: forwards;
  opacity: 0;
}

.page-loading-animation {
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-name: loading-animation;
  animation-fill-mode: forwards;
  opacity: 0;
}
