.Root {
  position: relative;
  display: flex;
  justify-content: center;
}

.MenuList {
  display: flex;
  justify-content: center;
  padding: 4px;
  border-radius: 6px;
  list-style: none;
  margin: 0;
}

.Link {
  all: unset;
  display: block;
  color: #000;
  &:focus {
    box-shadow: 0 0 0 2px var(--international-orange-9);
  }
  &:hover {
    color: white;
    background-color: var(--international-orange-10);
  }

  padding: 8px 12px;
  outline: none;
  user-select: none;
  line-height: 1;
  border-radius: 4px;
}
