.slide-bg
{
	-webkit-background-size: cover;
	        background-size: cover;

}

.slide-1
{
	background: url(/img/slide-1.png) no-repeat center center fixed;
}

.mnemonics img
{
	margin: .75em !important;
	max-width: 2em;
}
